h1{
    text-align: center;
}
img{
    height:350px;
    width: 400px;
}
   

#container{
    display: flex;
    background-color: azure;
    justify-content: center;
}

.box{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}